body {
  width: 400px;
  margin: 0 auto;
}

#root,
.employee-creation,
form,
fieldset {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form {
  padding-bottom: 3rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input,
select {
  width: 50%;
}

fieldset {
  padding: 1rem;
}
