body {
  margin: 0 auto;
}

#root,
.employee-creation,
form,
fieldset {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.employee-creation form {
  padding-bottom: 3rem;
}

.employee-creation label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.employee-creation input,
.employee-creation select {
  width: 50%;
}

.employee-creation fieldset {
  padding: 1rem;
}

.employee-creation select {
  text-transform: capitalize;
}

.employee-creation option {
  text-transform: capitalize;
}
